<?php 
echo $this->Html->css('play');
echo $this->Html->script('PLAY');
?>

<?php 
//Make URL available in the elements
$url =@ "/".$this->params['url']['url']."/";
$this->set('url', $url);
?>
<div class="index">
<h2>Game Tracking Over</h2>
<h3>Thank you for tracking your game with TalknGolf!!</h3>
</div>