<div class="courses index">
	<h2><?php __('Courses');?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id');?></th>
			<th><?php echo $this->Paginator->sort('device_id');?></th>
			<th><?php echo $this->Paginator->sort('Name');?></th>
			<th><?php echo $this->Paginator->sort('Description');?></th>
			<th><?php echo $this->Paginator->sort('Active');?></th>
			<th><?php echo $this->Paginator->sort('SubCourseName');?></th>
			<th><?php echo $this->Paginator->sort('Slope');?></th>
			<th><?php echo $this->Paginator->sort('Rating');?></th>
			<th><?php echo $this->Paginator->sort('ApiCourseId');?></th>
			<th><?php echo $this->Paginator->sort('Created');?></th>
			<th><?php echo $this->Paginator->sort('Updated');?></th>
			<th class="actions"><?php __('Actions');?></th>
	</tr>
	<?php
	$i = 0;
	foreach ($courses as $course):
		$class = null;
		if ($i++ % 2 == 0) {
			$class = ' class="altrow"';
		}
	?>
	<tr<?php echo $class;?>>
		<td><?php echo $course['Course']['id']; ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($course['Device']['id'], array('controller' => 'devices', 'action' => 'view', $course['Device']['id'])); ?>
		</td>
		<td><?php echo $course['Course']['Name']; ?>&nbsp;</td>
		<td><?php echo $course['Course']['Description']; ?>&nbsp;</td>
		<td><?php echo $course['Course']['Active']; ?>&nbsp;</td>
		<td><?php echo $course['Course']['SubCourseName']; ?>&nbsp;</td>
		<td><?php echo $course['Course']['Slope']; ?>&nbsp;</td>
		<td><?php echo $course['Course']['Rating']; ?>&nbsp;</td>
		<td><?php echo $course['Course']['ApiCourseId']; ?>&nbsp;</td>
		<td><?php echo $course['Course']['Created']; ?>&nbsp;</td>
		<td><?php echo $course['Course']['Updated']; ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View', true), array('action' => 'view', $course['Course']['id'])); ?>
			<?php echo $this->Html->link(__('Edit', true), array('action' => 'edit', $course['Course']['id'])); ?>
			<?php echo $this->Html->link(__('Delete', true), array('action' => 'delete', $course['Course']['id']), null, sprintf(__('Are you sure you want to delete # %s?', true), $course['Course']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page %page% of %pages%, showing %current% records out of %count% total, starting on record %start%, ending on %end%', true)
	));
	?>	</p>

	<div class="paging">
		<?php echo $this->Paginator->prev('<< ' . __('previous', true), array(), null, array('class'=>'disabled'));?>
	 | 	<?php echo $this->Paginator->numbers();?>
 |
		<?php echo $this->Paginator->next(__('next', true) . ' >>', array(), null, array('class' => 'disabled'));?>
	</div>
</div>
<div class="actions">
	<h3><?php __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Course', true), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Devices', true), array('controller' => 'devices', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Device', true), array('controller' => 'devices', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Course Holes', true), array('controller' => 'course_holes', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Course Hole', true), array('controller' => 'course_holes', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Rounds', true), array('controller' => 'rounds', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Round', true), array('controller' => 'rounds', 'action' => 'add')); ?> </li>
	</ul>
</div>