body {
	background: #CCC;
	font-family: Arial, sans-serif;
	padding: 15px;
}
.index h2,
legend {
	padding: 15px 3px;
}
h2,legend {
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 30px;
}
h3 {
	color: royalblue;
	letter-spacing: 2px;
	font-size: 24px;
	font-style: italic;
	margin-left: 5px
	
}
.cake-debug{
	padding: 15px;
	background: skyblue;
	color: black;
}
#flashMessage{
	position: absolute;
	bottom: 0;
	width: 96%;
	padding: 2% 1%;
	background: black;
	color: white;
	font-weight: bold;
	font-size: 14px;
	margin: auto;
	text-align: center;
}
input[type=text] { 
	min-width: 240px;
}
input,select,button {
	padding: 5px;
}
input[type=submit],button {
	padding: 5px 30px;
}

/**Index Pages**/
#content h2:first-child {
	padding: 40px 15px 5px;
}
#content table,
#content dl {
	min-width: 770px;
	margin-bottom: 30px;
}
dl {
	padding: 15px;
	width: 770px;
}
#content table td{
	padding: 5px 5px 5px 25px;
	vertical-align: top;
	overflow: hidden;
	font-size: 0.8em;
}
#content dd {
	padding: 5px 5px 5px 25px;
	vertical-align: top;
	text-align: left;
	max-height: 40px;
	height: 40px;
	overflow: hidden;
	font-size:18px;
}
#content table th,
#content dt {
	padding: 5px;
	vertical-align: top;
	text-align: left;
	border: solid thin #CCC;
}

#content table th,
#content dt {
	background: #888;
	color: white;
	overflow: hidden;
	
}
#content table th,
#content table th a
{
	color: white;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
}
#content table td {
	/**padding: 10px 15px 17px;**/
	border-bottom: solid thin white;
}
#content table tr:nth-child(odd){
	background: #EEE;
	color: black;
}

div.actions {
	color: royalblue;
	padding: 15px;
	clear: right;
}

div.actions h3 {
	display: none;
}
div.actions li {
	float: left;
	overflow: hidden;
	margin: 2px;
}
div.actions li a {
	background: #aaa;
	padding: 15px 30px;
	text-decoration: none;
	color: white;
	opacity: 0.6;
}
div.actions li a:hover {
	opacity: 1;
}
div.paging {
	float: left;
	line-height: 50px;
	color: royalblue;
	padding-right: 12px;
}
p {
max-width: 770px;
color: #333;
padding: 15px 0px;
font-style: italic;
}

/**ADD PAGE**/
input[type=text],
textarea
{
	font-size: 16px;
}

div.error-message {
	padding: 20px;
	background: red;
	float: right;
}
.form * {
	vertical-align: top;
}
.form label,
.input label {
	border-right: solid thick skyblue;
	padding: 1px;
	padding-left: 21px;
	padding-right: 5px;
	margin: 2px;
	width: 15% !important;
	float: left;
}
div.input,
div.select
{
	padding: 15px;
	margin: 5px;
	font-size: 16px;
}

div.input input,
div.input textarea,
div.select {
	padding: 3px;
	width: 20%;

	
}
div.input.datetime {
	display: none;
}
th.actions {

}






