@CHARSET "UTF-8";
/**start temp style**/
.clear-data  {
	margin-left: 25px;
	font-size: 12px;

	
}
.clear-data a:hover {
	text-decoration: underline;
}



/**end temp styles**/
#title-bar {

	
}
#title-bar h2 {
	width: 40%;
}
#title-bar .right {
	float: right;
	margin-top: -50px;
	padding-right: 30px;
}
#title-bar #hole-title, 
#title-bar #stroke-title
{
	font-size: 2em;
	font-weight: bold;
}
#title-bar #stroke-title {
	color: #777;
}
#play-grid {
	width: 734px;
}
#play-grid th {
	background: royalblue;
}

#play-grid table {
	width: 100%;

}

div.index h3 {
	font-size: 1.2em;
	padding: 15px 45px;
	font-weight: bold;
	color: #777;
}
div.actions {
	margin: 20px 50px;
	height: 100%;
}
div.actions li a {
	padding: 25px;
	font-size: 2em;
	margin: 0.25em;
}
/**
* SHOT LOG
**/
.hole_strip {
	margin-left: 15px;
}
.hole_strip span a {	
	background: #ccc;
	padding: 7px 15px;
}
.hole_strip span a:hover {
	background: skyblue;
	color: white;
}
div.shot_log {
	margin: 50px;
	padding: 50px;
	background: #EEE;
}
.shot_log h4 { 
	font-weight: bold;
	font-size: 1.2em;
	background: white;
	color: #777;
	margin-top: -15px;
	margin-left: -15px;
	margin-bottom: 15px;
	padding: 15px 15px 15px 15px;
}
.shot_log ul li {
	vertical-align: middle;
	background: #ccc;
	margin: 5px;
	height: 50px;
	padding: 15px;
	color: #000;
	font-size: 1.8em;
}
.shot_log ul li:hover {
	background: skyblue;
	color: white;
	cursor: pointer;
}
.shot_log ul li a {
	float: left;
	line-height: 45px;
	
}
.shot_log ul li a img {
	width: 50px;
}
li.logline div {
	line-height: 45px;
	margin-left: 55px;
}
/**
* MOODS
**/
ul.moods li a  {
	background: white;
}
li#mood1 a:hover {
	background: red;
}
li#mood2 a:hover {
	background: yellow;
}
li#mood3 a:hover {
	
}
li#mood4 a:hover {
	background: lime;
}

